<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span><a ui-sref="home">Crawl For Gas</a></span>
        </h2>
    </div>
</md-toolbar>

<form name="gasForm">
    <p class="date-range" ng-hide="loadingParameters">
      Searching prices: {{parameters.desc_Semana | dateTranslate}}
    </p>
    <div layout layout-sm="column" class="parameters">
        <md-input-container style="width: 50%">
            <label>State</label>
            <md-select ng-model="parameters.selEstado" ng-disabled="loadingParameters" required>
                <md-option ng-repeat="state in states" ng-value="state.value">{{state.name}}</md-option>
            </md-select>
        </md-input-container>
        <md-button class="md-raised  md-primary" style="width: 20%; height: 45px" ng-click="search()" ng-disabled="gasForm.$invalid">Search</md-button>
    </div>
</form>
<md-divider></md-divider>
<section class="container md-whiteframe-z1">
    <md-toolbar>
        <div class="md-toolbar-tools">
            Results
        </div>
    </md-toolbar>

    <md-progress-circular md-mode="indeterminate" offset="50" ng-show="loadingResults"></md-progress-circular>

    <md-list ng-hide="loadingResults">
        <md-list-item class="md-2-line" ng-repeat-start="city in state.cities | orderBy:name" ng-click="toggleChildData(city)">
            <div class="md-list-item-text">
                <p>{{city.name}}</p>
            </div>
            <md-divider></md-divider>
        </md-list-item>
        <div ng-show="city.opened">
            <md-list ng-cloak="" class="prices-values">
                <md-list-item class="md-2-line" ng-click="toggleCityStatistic(city)">
                    <div class="md-list-item-text">
                        <p>Statistics</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>

                <div class="content-values" ng-show="city.statisticOpened">
                    <table class="results">
                        <tbody>
                        <tr>
                            <th></th>
                            <th colspan="5" class="title">Buyer</th>
                            <th></th>
                            <th colspan="4" class="title">Distributor</th>
                        </tr>
                        <tr>
                            <td>Type Of Fuel</td>
                            <td>Avg. Price</td>
                            <td>Delta</td>
                            <td>Min. Price</td>
                            <td>Max. Price</td>
                            <td>Threshold</td>
                            <td></td>
                            <td>Avg. Price</td>
                            <td>Delta</td>
                            <td>Min. Price</td>
                            <td>Max. Price</td>
                        </tr>
                        <md-divider></md-divider>
                        <tr class="results-data" ng-repeat="statistic in city.statistics">
                            <td>{{statistic.type}}</td>
                            <td>{{statistic.consumerPrice[0].averagePrice}}</td>
                            <td>{{statistic.consumerPrice[0].standardDeviation}}</td>
                            <td>{{statistic.consumerPrice[0].minPrice}}</td>
                            <td>{{statistic.consumerPrice[0].maxPrice}}</td>
                            <td>{{statistic.consumerPrice[0].averageMargin}}</td>
                            <td></td>
                            <td>{{statistic.distributionPrice[0].averagePrice}}</td>
                            <td>{{statistic.distributionPrice[0].standardDeviation}}</td>
                            <td>{{statistic.distributionPrice[0].minPrice}}</td>
                            <td>{{statistic.distributionPrice[0].maxPrice}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <md-divider></md-divider>
                </div>

                <md-list-item class="md-2-line" ng-click="toggleCityStations(city)">
                    <div class="md-list-item-text">
                        <p>Stations</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>

                <md-list ng-cloak="" ng-show="city.stationOpened" class="prices-values">
                    <md-list-item class="md-2-line" ng-repeat-start="station in city.stations" ng-click="toggleChildData(station)">
                        <div class="md-list-item-text">
                            <p>{{station.name}} ({{station.address}}, {{station.area}}) {{station.flag}}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <div class="content-values" ng-show="station.opened">
                        <table class="results">
                            <tbody>
                            <tr>
                                <td>Type Of Fuel</td>
                                <td>Sell Price</td>
                                <td>Sale Mode</td>
                                <td>Provider</td>
                                <td>Date</td>
                            </tr>
                            <md-divider></md-divider>
                            <tr class="results-data" ng-repeat="price in station.prices">
                                <td>{{price.type}}</td>
                                <td>{{price.sellPrice}}</td>
                                <td>{{price.saleMode}}</td>
                                <td>{{price.provider}}</td>
                                <td>{{price.date}}</td>
                            </tbody>
                        </table>
                    </div>
                    <md-divider ng-repeat-end></md-divider>
                </md-list>
            </md-list>
        </div>
        <md-divider ng-repeat-end></md-divider>
    </md-list>
</section>