.container {
    border-radius: 4px;
    margin: 10px 0 16px 0;
    padding-bottom: 10px;
}

.parameters {
    margin: 0 10px 0 10px;
}

.date-range {
    margin-left: 10px;
}

.results {
    width: 100%;
    border-collapse: collapse;
    padding: 0 5px 10px 5px;
}

.results th.title {
    text-align: center;
    border-bottom: 2px solid #2196F3;
}

.results tr.results-data:hover {
    background-color: #2196F3;
}

.results td {
    text-align: center;
    padding: 5px 0 5px 0;
}

.prices-values {
    padding: 0 50px 0 50px;
}